[submodule "externals/sails-mysql-transactions-waterline"]
	path = externals/sails-mysql-transactions-waterline
	url = https://shamasis@github.com/postmanlabs/sails-mysql-transactions-waterline.git
	branch = master-postman
