[submodule "lib/sails-mysql-transactions-waterline"]
	path = lib/sails-mysql-transactions-waterline
	url = https://github.com/postmanlabs/sails-mysql-transactions-waterline.git
	branch = master-postman
